{% extends "layout.html" %}

{% block title %}
book
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="grid">

    <div class="row">

      <div class= "col-lg-3 col-sm-3">
        <p style = "font-size:18px; color:gray"><strong>{{user}}</strong> </p>
      </div>

      <div class= "col-lg-6">
      </div>

      <div class= "col-lg-3 col-sm-3">
        <a style="font-size: 18px; align: right " href="{{url_for('logout')}}">Log Out</a>
      </div>

    </div>
  </div>
</div>
<!--=======================================================================================================-->
  <ul>
    <li><strong>ISBN</strong>: {{book.isbn}}</li>
    <li><strong>Title</strong>: {{book.title}}</li>
    <li><strong>Author</strong>: {{book.author}}</li>
    <li><strong>Year</strong>: {{book.year}}</li>
  </ul>
  
{% endblock %}
