{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<form action="{{url_for('index')}}" method='POST' style="margin-top:10%;">
  <div class="container">
    <div class="grid">

      <div class="row">
        <div class= "col-lg-3">
        </div>
        <div class= "col-lg-3">
            <h3> WELCOME Reader </h3>
        </div>
        <div class= "col-lg-3">
        </div>
      </div>

      <div class="row">
        <div class= "col-lg-3">
        </div>
          <div class= "col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="exampleInputEmail1">Uername</label>
              <input type="text" name= "username" class="form-control" placeholder="Username">
            </div>
          </div>
        <div class= "col-lg-3">
        </div>
      </div>

      <div class="row">
        <div class= "col-lg-3">
        </div>
          <div class= "col-lg-6 col-sm-12">
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name= "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </div>
        <div class= "col-lg-3">
        </div>
      </div>

      <div class="row">
        <div class= "col-lg-3">
        </div>
        <button name="login" style="margin-left:15px;" type="login" class="btn btn-primary" value="login">Login</button>
        <span style="margin-left:5px; margin-right:5px;">  OR  </span>
        <a href="{{url_for('signup')}}">Sign Up</a>
        <div class= "col-lg-3">
        </div>
      </div>
</form>

{% endblock %}
